<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_image"
        android:label="DRIVIT"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_image"
        android:supportsRtl="true"
        android:theme="@style/Theme.DRIVIT_V2_FrontEnd"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Fragment.DashBord_Admin.DetailAdminEditCarPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Admin.EditUserPage"
            android:exported="false" />
        <activity
            android:name=".DashBoards.DashBoard_ADMIN"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Supplier.EditCarPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Supplier.DetailSupplierEditCarPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Supplier.DetailSupplierHomeCarPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Supplier.DetailSupplierRentedCarPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_Supplier.AddCarPage_Old_Activity"
            android:exported="false" />
        <activity
            android:name=".DashBoards.DashBoard_SUPPLIER"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_User.UserCarDetailPage"
            android:exported="false" />
        <activity
            android:name=".Fragment.DashBord_User.DetailUserCarPage"
            android:exported="false" />
        <activity
            android:name=".DashBoards.DashBoard_USER"
            android:exported="false" />
        <activity
            android:name=".Activitys.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".Activitys.LoginPage"
            android:exported="false" />
        <activity
            android:name=".Activitys.SplashPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>